/06-Integration/ejb-integration/basic/ejb/basic-ejb-lib/nbproject/private/
/06-Integration/ejb-integration/basic/ejb/basic-interface/nbproject/private/
/06-Integration/ejb-integration/basic/ejb/basic-ejb/nbproject/private/
/06-Integration/ejb-integration/basic/ejb/basic-interface/dist/
/06-Integration/ejb-integration/basic/ejb/basic-interface/build/
/06-Integration/ejb-integration/basic/ejb/basic-ejb/build/
/06-Integration/ejb-integration/basic/ejb/basic-ejb/dist/
/06-Integration/ejb-integration/basic/ejb/basic-client/nbproject/private/
/06-Integration/ejb-integration/basic/ejb/basic-client/dist/
/06-Integration/ejb-integration/basic/ejb/basic-client/build/